@use "sass:math";
@import 'fonts';

:root {
  --primary: rgb(224,53,78);
  --secondary: rgb(169,211,244);
  --text-primary: #501017;
}

html,
body,
#__nuxt,
#__nuxt > *,
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 1px;
  flex: 1;
  font-family: 'Fraunces';
}

body {
  background-image: url('/img/background.png');
  background-position: center;
  background-size: 100% auto;
  background-repeat: repeat-y;
}

nav.navbar {
  font-family: 'AmsterdamOne';
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'AmsterdamOne';
    line-height: 3;
  }
}

.hide-after {
  &::after {
    display: none;
  }
}