@use "sass:math";
@import 'fonts';

:root {
  --primary: rgb(224,53,78);
  --secondary: rgb(169,211,244);
  --text-primary: #501017;
}

@mixin bigBit() {
  display: flex;
  flex-direction: column;
  min-height: 1px;
  flex: 1;
  font-family: 'Fraunces';
}

html,
body,
#__nuxt,
#__nuxt > *,
main {
  @include bigBit();
}

html, body, #__nuxt, #__nuxt > * {
  height: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'AmsterdamOne';
    line-height: 3;
  }
}

.hide-after {
  &::after {
    display: none;
  }
}

#footer {
  background-image: url('/img/footer.jpg');
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 370px;
  padding: 1rem;
  margin-top: auto;

  @media screen and (max-width: 960px) {
    min-height: 200px;
  }

  @media screen and (max-width: 480px) {
    min-height: 100px;
  }
}

img {
  height: auto;
  width: auto;
}