@use "sass:math";
@import 'fonts';

$primary: rgb(224,53,78);
$secondary: rgb(169,211,244);
$text-primary: #501017;
$green: rgb(88, 109, 76);

:root {
  --primary: $primary;
  --secondary: $secondary;
  --text-primary: $text-primary;
  --green: $green;
}

@mixin bigBit() {
  display: flex;
  flex-direction: column;
  min-height: 1px;
  flex: 1;
  font-family: 'Fraunces';
}

html,
body,
#__nuxt,
#__nuxt > *,
main {
  @include bigBit();
}

html, body, #__nuxt, #__nuxt > * {
  height: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'AmsterdamOne';
    line-height: 3;
  }
}

.hide-after {
  &::after {
    display: none;
  }
}

#footer {
  background-image: url('/img/footer.jpg');
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  margin-top: auto;

  @for $i from 1 through 100 {
      @media screen and (min-width: #{($i - 1) * 24}px) {
        min-height: #{$i * 5.5}px;
      }
  }
}

img {
  height: auto;
  width: auto;
}

@mixin shadowStroke($shadow-offset) {
  $diagonal-offset: calc($shadow-offset * math.sqrt(2));
  text-shadow:
    $shadow-offset $shadow-offset 0 #000,
    (-$shadow-offset) $shadow-offset 0 #000,
    (-$shadow-offset) (-$shadow-offset) 0 #000,
    $shadow-offset (-$shadow-offset) 0 #000,
    $diagonal-offset $diagonal-offset 0 #000,
    (-$diagonal-offset) $diagonal-offset 0 #000,
    (-$diagonal-offset) (-$diagonal-offset) 0 #000,
    $diagonal-offset (-$diagonal-offset) 0 #000
    ;
}

#homepage-hero {
  position: relative;
  height: auto;
  width: 100%;

  > #homepage-hero-image {
    width: 100%;
  }

  > #homepage-hero-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 50%;
    color: darken($green, 30%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: none;

    > h1 {
      font-size: 2rem;
      text-align: right;
      text-wrap: nowrap;

      @for $i from 30 through 60 {
        @media (min-width: #{$i * 32}px) {
            font-size: #{$i * 0.1}rem;
        }
      }
    }
    
    @media (max-width: 680px) {
        right: 0;
        background-color: #ffffff40;

        > h1 {
          text-align: left;
        }
    }

  }
}

#itinerary {
  .itinerary-item {
    display: flex;
    flex-direction: row;

    $padding: 0.4rem;

    &__time, &__name {
      flex: 1;
    }

    &__name {
      padding-left: $padding;
    }

    &__time {
      padding-right: $padding;
      border-right: 5px solid $green;
      text-align: right;
    }
  }
}